/* 홈페이지 메인 */
.HomePageArea{
    width: 100%;
    height: 40em;
}

/* 상품 영역 */
.productArea{
    width: 100%;
    max-width: 75rem;
    min-height: 4.5rem;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}


.productList {
    width: 22%;
    max-width: 30rem;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    margin-top: 2rem;
}