/* 헤더 전체 */
.headerArea{
  width: 100%;
  height: 10em;
}

/* 회원정보 영역 */
.profileArea{
  height: 2em;
  width: 75rem;
  display: flex;
  align-items: center;
  text-align: right;
  margin: auto;
}

.profileButton{
  height: 60%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.profileButton div {
  margin-left: 1em;
}

/* 카테고리 영역 */
.categoryArea {
  height: 7rem;
  width: 100%;
  display: flex;
  max-width: 75em;
  margin: auto;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.logoArea {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}

.logo{
  width: 9em;
  height: 3em;
}

.categoryList {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.categoryButton{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.categoryButton div{
  margin-left: 1em;
}




/* 홈페이지 메인 */
.PageArea{
  width: 100%;
  height: 50em;
}

/* 상품 영역 */
.productArea{
  width: 100%;
  max-width: 75rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
}

.productList {
  width: 22%;
  max-width: 30rem;
  display: flex;
  flex-flow: column;
  cursor: pointer;
  margin-top: 2rem;
}




/* 로그인 페이지 */

/* 상품 영역 */
.LoginArea{
  width: 100%;
  max-width: 75rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
  font-family: 'Roboto', sans-serif;
}

.LoginTitle {
  font-size: x-large;
  font-weight: bold;
  width: 40em;
}

.LoginContent {
  font-size: medium;
  padding-left: 20em;
  padding-top: 3em;
}

.LoginContent button{
  width: 20.5em;
  height: 3em;
  margin-top: 2em;
}

.LoginContent input{
  width: 20em;
  height: 2em;
}

.LoginContentTitle {
  padding-top: 1em;
}



/* 회원가입 페이지 */

/* 상품 영역 */
.JoinArea{
  width: 100%;
  max-width: 75rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
  font-family: 'Roboto', sans-serif;
}

.JoinTitle {
  font-size: x-large;
  font-weight: bold;
  width: 40em;
}

.JoinContent {
  font-size: medium;
  padding-left: 20em;
  padding-top: 3em;
}

.IdCheckButton{
  width: 10em;
  height: 2.5em;
  margin-left: 1em;
}

.JoinButton{
  width: 9em;
  height: 2.5em;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.JoinContent input{
  width: 20em;
  height: 2em;
}

.JoinContentTitle {
  padding-top: 1em;
}

.JoinContentDesc {
  font-size: small;
  font-weight: 900;
}

.error {
  color: red;
  font-size: xx-small;
}



/* 마이페이지 메인 */

/* 상품 영역 */
.MyArea{
  width: 100%;
  max-width: 75rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
  font-family: 'Roboto', sans-serif;
}


/* 포인트 구매 페이지 */
.RoulettePageArea{
  width: 100%;
  height: 40em;
}

/* 상품 영역 */
.RouletteArea{
  width: 100%;
  max-width: 75rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
  font-family: 'Roboto', sans-serif;
}



/* 확률 공지 페이지 */

/* 상품 영역 */
.ProbabilityArea{
  width: 100%;
  max-width: 75rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
  font-family: 'Roboto', sans-serif;
}

.boxImg {
  width: 9em;
}

.category-set {
  margin-top: 3px;
}

.category-child {
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  border: 1px solid grey;
  background-color: #fff;
  width: 130px;
  height: 50px;
  border-radius: 50px;
}

.category-child:hover {
  font-weight: bolder;
  border-color: black;
}

.selected {
  border-style: none;
  font-weight: 800;
  background: rgb(12, 77, 162);
  color: #fff;
}

.fqa-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-list {
  width: 80%;
}

.faq-card {
  display: flex;
  margin-top: 10px;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 1px solid black;
  border-radius: 20px;
  flex-direction: column;
}

.faq-card-title {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.faq-card-answer {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
  border: 0px solid rgba(225,228,230,.5);
  border-top-width: 1px;
}

.faq-card-none {
  display: none;
}

.question-mark {
  color: rgb(12, 77, 162);
  font-size: 20px;
  margin-right: 10px;
}

.answer-mark {
  color: skyblue;
  font-size: 20px;
  margin-right: 10px;
}



/* 상품 상세 페이지 */

/* 상품 영역 */
.productArea{
  width: 100%;
  max-width: 75rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
  font-family: 'Roboto', sans-serif;
}
