* {
  font-family: 'Segoe print';
}

/* 헤더 전체 */
.headerArea{
  width: 100%;
  height: 10em;
  background-color: hsl(50deg 100% 50%);
}

/* 회원정보 영역 */
.profileArea{
  width: 80rem;
  display: flex;
  align-items: center;
  text-align: right;
  margin: auto;
}

.profileButton{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.profileButton a {
  background-color: hsl(255deg 50% 40%);
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  border-radius: 0.7em;
  text-decoration: none;
  color: hsl(50deg 100% 50%);
}

.profileButton a:hover {
  background-color: hsl(255deg 50% 20%);
}

.profileButton div {
  margin-left: 1em;
}

/* 카테고리 영역 */
.categoryArea {
  height: 7rem;
  width: 100%;
  display: flex;
  max-width: 80em;
  margin: auto;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.categoryArea a {
  text-decoration: none;
}



.logoArea {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}

.logo{
  width: 10em;
  height: 4em;
}

.categoryList {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.categoryButton{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: x-large;
}

.categoryButton div{
  margin-left: 1em;
}




/* 홈페이지 메인 */
.pageArea{
  width: 100%;
  background-color: hsl(255deg 50% 40%);
  padding-top: 2em;
  padding-bottom: 2em;
}

/* 상품 영역 */
.productArea{
  width: 100%;
  max-width: 80rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.productList {
  width: 22%;
  max-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  cursor: pointer;
  margin-top: 2rem;
  background-color: #fff;
  border: black solid 0.3em;
  border-radius: 2em;
}

.productList:hover {
  background-color: darkgoldenrod;
}

.productImg {
  width: 14em;
}




/* 로그인 페이지 */

/* 상품 영역 */
.loginArea{
  width: 100%;
  max-width: 80rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
}

.loginTitle {
  font-size: x-large;
  font-weight: bold;
  width: 40em;
}

.loginContent {
  font-size: medium;
  padding-left: 20em;
  padding-top: 3em;
}

.loginContent button{
  width: 20.5em;
  height: 3em;
  margin-top: 2em;
}

.loginContent input{
  width: 20em;
  height: 2em;
}

.loginContentTitle {
  padding-top: 1em;
}



/* 회원가입 페이지 */

/* 상품 영역 */
.joinArea{
  width: 100%;
  max-width: 80rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
}

.joinTitle {
  font-size: x-large;
  font-weight: bold;
  width: 40em;
}

.joinContent {
  font-size: medium;
  padding-left: 20em;
  padding-top: 3em;
}

.idCheckButton{
  width: 10em;
  height: 2.5em;
  margin-left: 1em;
}

.joinButton{
  width: 9em;
  height: 2.5em;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.joinContent input{
  width: 20em;
  height: 2em;
}

.joinContentTitle {
  padding-top: 1em;
}

.joinContentDesc {
  font-size: small;
  font-weight: 900;
}

.error {
  color: red;
  font-size: xx-small;
}



/* 마이페이지 메인 */

/* 상품 영역 */
.myArea{
  width: 100%;
  max-width: 80rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
}


/* 포인트 구매 페이지 */

/* 상품 영역 */
.rouletteArea{
  width: 100%;
  max-width: 80rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
}



/* 확률 공지 페이지 */

/* 상품 영역 */
.probabilityArea{
  width: 100%;
  max-width: 80rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
}

.probabilityTitle{
  font-size: x-large;
  font-weight: bold;
  width: 40em;
}

.boxImg {
  width: 6em;
}

.categoryChild {
  margin: 0.3em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  background-color: #fff;
  width: 9em;
  height: 9em;
  cursor: pointer;
}

.categoryChild:hover {
  font-weight: bolder;
  border-color: black;
}

.selected {
  font-weight: 800;
  background: rgb(12, 77, 162);
  color: #fff;
}

.probabilityContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.probabilityList {
  width: 90%;
}

.proTableTitle{
  font-size: x-large;
}

.proTableContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proTableContent table {
  width: 100%;
  margin-top: 1em;
}

.probabilityContent th {
  border: 1px solid black;
}

.proTableName {
  width: 80%;
}

.proTablePercent {
  width: 20%;
}

.probabilityContent td {
  border: 1px solid gray;
}




/* 상품 상세 페이지 */

/* 상품 영역 */
.productDetailArea{
  width: 100%;
  max-width: 80rem;
  min-height: 4.5rem;
  margin: auto;
  display: flex;
  justify-content : center;
  font-family: 'Roboto', sans-serif;
}
